body{
    background-color: #9C835F;
}

.playerInput{
    border-radius: 1rem;
    cursor: pointer;
}

.comOutput{
    border-radius: 1rem;
}

.status{
    font-family: 'Open Sans', sans-serif;
    margin-top: 50%;
    font-size: 7rem;
    color: #BD0000;
    font-weight: 600;
}

.rectangle {
    height: 9rem;
    width: 17rem;
    background-color: #4C9654;
    border-radius: 0.6rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
    color: white;
    transform: rotate(-23deg);
}